# This is a GitHub Actions workflow file that automates the process of running a Python script
# using Poetry for dependency management. The script is executed daily at 06:00 UTC and can also be triggered manually.
# It includes steps for checking out the repository, setting up Python, installing Poetry, configuring it,
# installing dependencies, and finally executing the specified Python script.
# The workflow is designed to run on the latest version of Ubuntu and uses caching for Poetry to speed up builds.
# The script being executed is located in the 'scripts' directory and is named 'query_script.py'.
# The workflow is triggered by a cron job and can also be manually triggered through the GitHub Actions interface.
# The workflow is defined in YAML format and includes a series of steps that are executed sequentially.
name: Run Frank Energie Query

on:
  workflow_dispatch:  # Allows manual triggering
  schedule:
    - cron: '0 6 * * *'  # Every day at 06:00 UTC

jobs:
  run-query:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12']

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          # cache: poetry  # Caching voor snellere builds

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"
          export PATH="$HOME/.local/bin:$PATH"
          poetry --version

      - name: Configure Poetry
        run: |
          poetry config virtualenvs.in-project true
          poetry --version
          poetry lock

      - name: Install Dependencies with Poetry
        run: |
          # poetry add ./python-frank-energie --dev --editable
          poetry install --no-interaction
          pip install -e ./  # Install the current repository as an editable package
          pip install pytz

      - name: Execute Frank Energie Query
        run: |
          set -e
          poetry run /home/runner/work/python-frank-energie/python-frank-energie/.venv/bin/python /home/runner/work/python-frank-energie/python-frank-energie/scripts/test_query.py

      - name: Upload Log Artifact
        uses: actions/upload-artifact@v5
        with:
          name: frank-energie-logs-${{ matrix.python-version }}
          path: logs/output_${{ matrix.python-version }}.log
